* {
    margin: 0;
}

:root {
    --font: 'Roboto', sans-serif;
    --color1: #0a2ff1 ;
    --color2: #000000;
    --colorfooter: #15163d;
}

body {
    box-sizing:content-box;
    
}

main {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
}


button {
    font-family: var(--font);
    font-weight: 400;
    font-size: 20pt;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    background-color: var(--color1);
    border: none;
    color: white;
}


footer {
    width: 100%;
    margin: 4px;
    background-color: var(--colorfooter);
}

h1 {
    font-family: var(--font) ;
    font-weight: 700;
    font-size: 44pt;
    color: var(--color1);
}

#h1 {
    text-align: center;
}

h2 {
    font-family: var(--font) ;
    font-weight: 700;
    font-size: 19pt;
    color: var(--color1);
}

p {
    font-family: var(--font);
    font-weight: 400;
    color: var(--color2);
    font-size: 19pt;
    width: 80%;
}

.contact-p {
    font-size: 18pt;
}

header {
    height: 100%;
}

#img-header {
    background-image: url(./M4\ -\ Desafío3_img-header.png);
    width: 100%;
    max-width: 1350px;
    height: 800px ;
    background-repeat: no-repeat;
    background-size: contain;
    
}

#img-footer {
    background-image: url(./M4-Desafio3-lettering.jpg);
    width: 80%;
    display: block;
    margin: auto;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;

}

.contact-p {
    margin-left:10% ;
}